html, body {
  max-width: 100%;
  overflow-x: hidden; 
}
 
body {
  font-family: 'Raleway';
  background-color: whitesmoke; 
}
  
 .container-fluid {
  height: 80px;
 background: white;
 }
 
  .container {
 }