.nav{
padding:0px;
}
 
body {
  max-width: 100%;
  background-color:whitesmoke;
  font-family: 'Raleway';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color:#787878;
}

#htmlwidget_container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    position:static !important;
    height: 700;
}

#main{
   position:absolute;
   width:100%;
   margin-top:62px;
   top:0px;
   bottom:0px;
}

#maintitle{
   position:absolute;
   width:100%;
   top:0px;
   bottom:0px;
}

#content{
background-color:white;
    border: 1px solid #e7e7e7;
    min-height:90%;
}

#heading
{
font-weight: bold;
}
#headingsmall
{
font-weight: bold;
display: none;
}

@media (max-width: 432px) {
#heading{
display: none;
}
#headingsmall
{
display: inline-block;
}
}

footer{
text-align: center;
position:static;
    bottom: 0px;
}

p{
line-height: 2;
font-family:sans-serif;
font-size:medium;}

.title{
color:black;
font-weight: bold;
}

.posts{
  border-top: 2px solid grey;
}

#navtitle{
border-color:transparent;
background-color:transparent;
}

#navtitle a {
color:white;
}

#mynavbartitle ul li a{
border-color: white;
}
