@media(max-width: 1230px) {
.homepic{
display: none;
}
}

@media(max-width: 1220px) {
.pic{
display: none;
}
}

.fade{
	opacity=1;
}

.nav{
padding:0px;
}
 
body {
  max-width: 100%;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
}

#htmlwidget_container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    position:static !important;
    height: 700;
}

#main{
   position:absolute;
   width:100%;
   margin-top:62px;
   top:0px;
   bottom:0px;
}

#maintitle{
   position:absolute;
   width:100%;
   top:0px;
   bottom:0px;
}

#imagetitle{
width: 100%; 
overflow: hidden; 
position:relative;
}

#content{
background-color:white;
    min-height:90%;
}

#heading
{
font-weight: bold;
}
#headingsmall
{
font-weight: bold;
display: none;
}

@media (max-width: 432px) {
#heading{
display: none;
}
#headingsmall
{
display: inline-block;
}
}

footer{
text-align: center;
position:static;
    bottom: 0px;
}

table{
line-height: 2;
font-family:sans-serif;
font-size:medium;
}

.headcol {
position:absolute;
margin-left:-5em;
width:5em;
top:auto;
border-top-width:1px;
margin-top:-1px;
}

td
{
    padding:0 15px 0 15px;
}

p{
line-height: 2;
font-family:sans-serif;
font-size:medium;}

.title{
color:black;
font-weight: bold;
}

@media only screen and (max-width: 500px) {
#PCA{
width:100%;
}
}

#navtitle{
border-color:transparent;
background-color:transparent;
}

#navtitle a {
color:white;
}

#mynavbartitle ul li a{
border-color: white;
}

span {
	font-family: 'Courier New';
	font-size: 10pt;
	color: #000000;
}
.sc0 {
}
.sc3 {
	color: #8000FF;
}
.sc7 {
	color: #808080;
}
.sc8 {
	font-weight: bold;
	color: #000080;
}
.sc9 {
}